alembic
blinker
certifi
charset-normalizer
click
cloudinary
Flask
Flask-Cors
Flask-JWT-Extended
Flask-Migrate
Flask-SQLAlchemy
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe
PyJWT
python-dotenv
python-http-client
requests
sendgrid
six
SQLAlchemy
twilio
urllib3
Werkzeug
