.navbar {
    background: whitesmoke;
    border-bottom: 2px solid #d32f2f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 50;
    width: 100%;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0.75rem 1rem;

}
.navbar-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: #d32f2f;
}

.navbar-logo img {
    height: 32px;
    width: 32px;
}

.navbar-links{
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.center-links {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex: 1;
}
.auth-links {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.navbar-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.navbar-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18px;
    width: 24px;
    padding: 0;

}

.navbar-links a:hover{
    color: #d32f2f;
}


.bar {
    height: 3px;
    background-color: #d32f2f;
    border-radius: 2px;
    transition: 0.32s ease;
}

.navbar-mobile{
    display: flex;
    flex-direction: column;
    background: white;
    padding: 1rem;
    border-top: 1px solid #eee;

}

.navbar-mobile a {
  padding: 0.5rem 0;
  text-decoration: none;
  color: #333;
}

.navbar-mobile a:hover {
  color: #d32f2f;
}

@media (min-width: 768px) {
  .navbar-links {
    display: flex;
  }

  .navbar-toggle,
  .navbar-mobile {
    display: none;
  }
}